html {
  scroll-behavior: smooth;
}
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root {
  --white: rgb(2, 1, 1);
  --black: rgb(0,0,0);
  --gray: rgb(69, 69, 69);
  --gray-2: rgb(149, 149, 149);
  --yellow: #ffbe0b;
  --pink-lavender: #cdb4dbff;
  --orchid-pink: #ffc8ddff;
  --nadeshiko-pink: #ffafccff;
  --uranian-blue: #bde0feff;
  --darker-blue: rgb(63, 108, 151);
  --baby-blue-eyes: #a2d2ffff;
  --top-margin: 100px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
